body{
    background-color: aquamarine;
    text-align: center;
    color: black;
    padding-top:200px;
   font-family:monospace; 
    font-size:bolder;

}
input[type=text]{
    padding:30px;
    width:300px;
}
#form{
    background-color: burlywood;
    top: 30;
     
}