body{
    background-color: aquamarine;
    text-align: center;
    color: black;
    padding-top:200px;
   font-family:monospace; 
    font-size:bolder;

}
input[type=text]{
    padding:30px;
    width:300px;
}
#form{
    background-color: beige;
    top: 30;
    position: relative;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    width: 30%;
    margin-left:630px;
}
